body {
  padding: 30;
  margin: 0;
}

img {
  padding: 30;
}

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

h1 {
  font-size: 50px;
}

h1 { font-family: "Copperplate Gothic Light"; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Copperplate Gothic Light"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Copperplate Gothic Light"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Copperplate Gothic Light"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Copperplate Gothic Light"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

h3 {
  font-size: 30px;
}

/* Giving our navbar some padding and a background color */
.navbar {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  background: red;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;


}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #3fc9ce;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

#nav-select {
  visibility: hidden;
}

#map,
body,
html {
  height: 100%;
}
.leaflet-popup-content {
  text-align: center;
}
.green-star {
}
.green-star:before {
    content: "";
    display: block;
    background: url("/19-Project-2/img/green_star.svg") no-repeat;
    width: 25px;
    height: 25px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.red-star {
}
.red-star:before {
    content: "";
    display: block;
    background: url("/19-Project-2/img/red_star.svg") no-repeat;
    width: 25px;
    height: 25px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.purple-star {
}
.purple-star:before {
    content: "";
    display: block;
    background: url("/19-Project-2/img/purple_star.svg") no-repeat;
    width: 25px;
    height: 25px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.blue-star {
}
.blue-star:before {
    content: "";
    display: block;
    background: url("/19-Project-2/img/blue_star.svg") no-repeat;
    width: 25px;
    height: 25px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.orange-star {
}
.orange-star:before {
    content: "";
    display: block;
    background: url("/19-Project-2/img/orange_star.svg") no-repeat;
    width: 25px;
    height: 25px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}